<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		<style>

		</style>
	</head>
	<body>
		<%= yield %>
		<p>
			------------------------------------<br>
			(株) 船曳商店<br>
			〒678-0232　兵庫県赤穂市中広1576-11<br>
			TEL：0791-43-6556　FAX：0791-43-8151<br>
			URL：https://funabiki.info/<br>
			------------------------------------<br>
		</p>
	</body>
</html>