<% title "Funabiki Online - Yahoo!ショップイング・出荷表" %>

<div class="container manifest_index">
	<div class="row align-middle">
		<div class="col">
			<% if current_user.admin? || current_user.vip? %>
				<div class="btn-group float-right" role="group" aria-label="Basic">
					<span class="btn btn-sm btn-info m-0 p-0 tippy" data-tippy-content="データ更新">
						<%= link_to icon("arrow-counterclockwise", class: "text-success"), refresh_yahoo_path, :alt => "データ更新", class: 'btn btn-info' %>
					</span>
				</div>
			<% end %> 
		<hr/>

			<h1>Yahoo!ショップイング・出荷表</h1>
			
		</div>
	</div>
	
	<hr/>
	
	<div class="row">
		<div class="col-lg-4 mb-3">
			<div id="yahoo_orders_calendar" class="fullCalendar"></div>
		</div>
		<div class="col-lg-8">
			<div id="partial">
				<%= render :partial => 'daily_orders', locals: { daily_orders: @daily_orders }, remote: true %>
			</div>
		</div>
	</div>
</div>