<% title "Funabiki Online - 牡蠣原料マスター" %>

<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="invoiceModalLabel">支払い明細書</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="invoice_partial">
				<%= render :partial => 'invoice', locals: { invoice: @invoice } %>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="supplyActionModal" tabindex="-1" role="dialog" aria-labelledby="supplyActionModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="supplyActionModalLabel">牡蠣の供給・ツールパネル<span id="supply_action_date_title"></span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<nav id="supply_action_nav_partial" class="mt-2">

			</nav>
			<div class="tab-content modal-body" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-partial" role="tabpanel">
					<div id="supply_action_partial">

					</div>
				</div>
			</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
		</div>
		</div>
	</div>
</div>

<div class="container">
	<div id="supply_calendar" class="fullCalendar" data-place="supply_index"></div>
</div>
