<div id="chart_card" class="card m-0 p-0 border-white">
	<div class="card-body">
		<div class="chart w-100 float-left">
			<%= column_chart profit_figures_chart_path, thousands: ",", prefix: "￥", max: @yearly_max, min: 0, stacked: false %>
		</div>
	</div>
</div>