<div class="card m-0 p-0 border-white">
	<div class="card-body">
		<h5 class="card-title float-left">日ごと利益</h5>
		<span class="float-right ml-3 small">今年一日平均利益：<%= @this_year_daily_average %>　・　去年一日平均利益：<%= @last_year_daily_average %>　・　二年度の一日平均利益：<%= @two_year_daily_average %></span>
		<div class="chart w-100 float-left">
			<%# column_chart [{name: '今年', data: @year_sales}, {name: '去年', data: @last_year_sales}], thousands: ",", prefix: "￥", max: @yearly_max, min: 0, stacked: false %>
		</div>
	</div>
</div>