/* Coolors Exported Palette - coolors.co/f9f9f9-f0f8ff-db5360-ffe4c4-fff7db */

/* HSL */
$snow: hsla(0%, 0%, 98%, 1);
$alice: hsla(208%, 100%, 97%, 1);
$terra: hsla(354%, 65%, 59%, 1);
$bisque: hsla(33%, 100%, 88%, 1);
$cornsilk: hsla(47%, 100%, 93%, 1);

/* RGB */
$snow: rgba(249, 249, 249, 1);
$alice: rgba(240, 248, 255, 1);
$terra: rgba(219, 83, 96, 1);
$bisque: rgba(255, 228, 196, 1);
$cornsilk: rgba(255, 247, 219, 1);

.dark-pill, .dark-pill a:hover {
	color: white !important;
}

.light-pill, .light-pill a:hover {
	color: black !important;
}

#market-pills .active {
	border: 1px solid orange !important;
	background-color: gray !important;
	font-size: 1rem !important;
	padding: 0.3rem .8rem !important;
}

#market-pills {
	display: flex;
	justify-content: center;
	font-size: .85rem;
	font-weight: bolder;
}

#market-pills a {
	margin: 0.2rem;
	box-sizing: border-box;
	border: 1px solid white;
}

#market-pills a:hover {
	opacity: 75%;
}

#autosave_notice {
	display: none;
}

.brokerage_icon {
	color: #FF69B4;
}

/////////////////////////////////////
/////////////// INDEX ///////////////
/////////////////////////////////////

/////////////////////////////////////
/////////// EDIT/NEW PAGE ///////////
/////////////////////////////////////
.profit_form {
	.card-header {
		padding: 0.5rem;
	}
	.lg-prepend-fix {
			height: calc(2.875rem + 2px);
	}
	.form-group.profit_split {
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	.inline_radio {
		width: 33%;
		display: inline-block;
		padding: 3px;
	}
	#profit_split {
		margin-top: .5rem;
	}
	.split_checkbox, .ampm_radios, .sales_date {
		margin: 0;
		padding: 0;
	}
}
.figures_form {
	.card-body {
			padding: 1px;
	}
	.card-body.totals {
			background-color: $alice;
	}
	.card-header.btm {
			height: 50px;
	}
	.collapse_type_link {
			display: block;
			position: relative;
			margin: -10px -18px;
			height: 35px;
			padding: 10px 15px;
			color: black;
			font-size: 1.2rem;
			border-top: 10px solid;
	}
	.collapse_type_link.btm {
			top: -25px;
	}
	.card-text {
			margin: 0 0 1px 0;
	}
	.collapse_product_link {
			width: 100%;
			display: block;
			background-color: $alice;
			padding: 3px;
			margin: 0;
	}
	.collapse_product_link i {
			float: right;
			margin: 4px;
	}
	.form-group {
		margin-left: -15px;
		margin-right: -15px;
	}
	input[type="checkbox"] {
			display: block;
			position: relative;
			float: left;
			width: 100%;
			height: 30px;
			margin-bottom: -30px;
			z-index: 2;
			background-color: $alice;
			border: none;
	}
	.p_market_nick, .p_market_name, .p_market_ordercount, .p_market_unitcost, .p_namae {
			display: table-cell;
			vertical-align: middle;
			height: 30px;
			overflow: hidden;
			box-sizing: border-box;
	}
	.p_namae {
			font-size: .75rem;
			font-weight: bold;
			line-height: 30px;
			display: table-cell;
			vertical-align: middle;
	}
	.p_market_nick {
			font-size: large;
			font-weight: bold;
			text-align: center;
			line-height: 30px;
			display: table-cell;
			vertical-align: middle;
	}
	.p_market_name {
			font-size: small;
			line-height: 30px;
			display: table-cell;
			vertical-align: middle;
	}

	.p_market_ordercount, .p_market_unitcost {
			input {
					height: 30px;
					box-sizing: border-box;
					margin: 0 0 1px 0;
					padding: 2px 3px;
					font-size: small;
			}
	}
	.p_market_ordercount input {
			border-radius: 3px 0 0 3px;
			margin-right: -1px;
	}
	.p_market_unitcost input {
			border-radius: 0 3px 3px 0;
	}
	.btn.disable_toggle {
		display: block;
		position: absolute;
		height: 30px;
		width: 50%;
		opacity: .4;
		background-color: #c2c2c2;
		border-bottom: 1px solid white;
		margin-left: 10px;
	}
	.btn.disable_toggle:hover {
		background-color: chartreuse;
	}
	.disable_toggle_opacity {
		opacity: 0 !important;
	}
	.disable_toggle_opacity:hover {
		background-color: red !important;
		opacity: .4 !important;
	}
	.special_check_box {
		position: absolute;
		top: 3px;
		right: 3px;
	}
	.special_check_box input[type="checkbox"] {
		height: 10px;
		width: 10px;
		margin: 2px;
		padding: 0;
	}
	.extra_cost_check_box {
		right: -1px;
	}

	.special_check_box svg {
	    width: 10px;
	    top: -10px;
	    margin-left: 4px;
	}
}

.suggestion_btn {
	position: fixed;
	bottom: 100px;
	right: 100px;
	border: 5px solid #f9f9f9;
}

/* Plus/minus for each product */
.collapse_product_link[data-toggle="collapse"] .fas:before {  
	content: "\f055";
}

.collapse_product_link[aria-expanded="true"] .fas:before {  
	content: "\f056";
}

.collapse_product_link[data-toggle="collapse"].collapsed .fas:before {
	content: "\f055";
}

/* Folder Icon for each type */
.collapse_type_link[data-toggle="collapse"] .far:before {  
	content: "\f07c"; 
}

.collapse_type_link[aria-expanded="true"] .far:before {  
	content: "\f07b";
}

.collapse_type_link[data-toggle="collapse"].collapsed .far:before {
	content: "\f07c";
}

/////////////////////////////////////
///////////// SHOW PAGE /////////////
/////////////////////////////////////

.profit_page {
	.market_name_col {
		background-color: white;
	}
	.product_name_col {
		float: left;
	}
	.product_data_col {
		width: 96%;
		float: right;
	}
	.total {
		width: 100%;
		padding: 5px;
		opacity: 1;
		text-shadow: -1px -1px #c3c3c3, 1px 1px white;
	}

	#total_total {
		height: 80px;
		font-size: larger;
		border: 2px;
	}

	.profit_tooltip {
		cursor: help;
		height: 100%;
		border-radius: 5px;
		border: 1px solid;
	}

	.order_data_tooltip {
		cursor: help;
		border: 0;
		background-color: white;
		padding: 2px 2px 2px 10px;
		margin-bottom: 1px;
	}
	
	.subtotal {
		padding: 3px 5px;
	}
	
	.subtotal, #total_total {
		border-color: mediumseagreen;
	}

	.product_title {
		writing-mode: vertical-rl;
		text-orientation: upright;
		background-color: dimgrey;
		color: white;
		padding: 5px 2px;
		border-radius: 5px;
	}

	.sales {
		border-color: red;
	}

	.expenses {
		border-color: black;
	}

	.num_boxes, .num_products {
		border-color: blue;
	}

	.subtotal_row {
		padding: 2px;
		background-color: lightgray;
		border-bottom: 0;

		.col-3 {
			padding: 2px;
			margin: 0px;
		}

		.row {
			margin: 0px;
		}
	}

	.main {
		padding: 5px;
		border-bottom: 4px solid lightgrey;
	}

	.product_data_li, .product_data, .product_data_top {
		background-color: #F7F7F7;
	}

	.product_data_li {
		.col-4, .col-2 {
			padding: 0 1px 0 0;
		}
		.product_data_head {
			
		}
	}

	.product_data {
		border-radius: 0 0 5px 5px;
		padding: 10px;
	}

	.product_data_top {
		border-radius: 5px 5px 0 0;
		height: 5px;
	}

	.main button {
		height: 20px !important;
		background-color: #F0F0F0;
		max-width: 80px;
		margin: 2px;
		font-size: x-small;
		border-color: #fff #ccc #ccc #fff;
		opacity: .5;
	}

	.extra_costs {
		width: 100%;
		background-color: lightgray;
		border-radius: 5px;
		padding-top: 5px;
		.row {
			margin: 2px 10px;
		}
	}

	.extra_costs_header {
		background-color: whitesmoke;
		border: 1px solid lightgray;
		border-radius: 5px;
		padding: 4px;
	}

	.extra_costs_market_row {
		padding: 0 4px;
	}

	.totals {
		background-color: black;
		color: white;
		font-size: 1.2rem;
		margin: 20px 15px;
		padding: 10px;
		border-radius: 5px;
		
		.small {
			font-size: .8rem;
		}

		.row {
			margin: 0;
			div {
				border-right: 1px solid dimgrey;
				border-bottom: 1px solid whitesmoke;
				border-radius: 5px;
			}
		}
	}
}

.fixed_nav_container {
	width: 100%;
	min-width: 200px;
    position: -webkit-sticky;
    position: sticky;
	top: 10px;
	padding: 0 0 0 10px;
	margin: 0;
	font-size: .75rem;
	.nav-link {
		padding: 2px 4px;
	}
	.type_link, .to_top_link {
		font-size: 1rem;
    	font-weight: 800;
	}
/* hide inactive nested list */
	.nav .nav {
		display: none;
	}
	.nav .nav.active {
		display: block;
	}
}