<% title "Funabiki Online - 熨斗作成" %>

<div class="container">
	<div class="row align-middle">
		<div class="col">

			<div class="btn-group float-right" role="group" aria-label="Basic">
				<%= link_to '冷凍データトップへ', frozen_oysters_path, class: 'btn btn-secondary' %>
			</div>
		<hr/>

			<h1>冷凍データ追加</h1>
			
		</div>
	</div>
	<p id="notice"><%= notice %></p>

	<hr/>

	<%= render 'form', frozen_oyster: @frozen_oyster %>

	<hr/>
</div>