// Place all the styles related to the Noshis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.noshi_show_img {
	max-height: 60vh;
}

.noshi_delete_btn {
	position: absolute;
	right: 0;
	margin: 0 15px;
	font-size: small;
	padding: 5px 10px;
}

.noshi_delete_col {
	margin-bottom: 30px;
	margin-top: -7px;
}

.noshis_container {
	margin-top: 15px;

	.noshi_card {
		width: 350px;
		height: 400px;
		
		.btn-group {
			margin: 5px auto;
		}
		.noshi_img {
			width: 100%;
			height: auto;
			border-radius: 5px;
		}
	}
}

.noshi_search {
	float: right;
}

.noshi_checkbox {
	position: absolute;
	left: 4px;
	top: 4px;
}

.noshi_type label input {
    top: 0;
    left: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.noshi_type label {
    max-width: 110px;
    height: auto;
    margin: 10px;
}

.noshi_type label img {
    width: 100%;
    height: auto;
    border: 1px dotted $silver;
}

.noshi_type label img:hover {
    border: 1px dotted $gunmetal;
}

.noshi_type input[type="radio"]:checked + img {
    border: 1px solid $ochre;
}

.field.name_field {
    max-width: 300px;
}