<div class="container">
	<div class="row align-middle">
		<div class="col">
			<div class="btn-group float-right" role="group" aria-label="Basic">
				<%= link_to '前へ', suppliers_path, class: 'btn btn-secondary' %>
			</div>
		<hr/>

			<h1>生産者追加</h1>

	<hr/>

	<%= render 'form', supplier: @supplier %>

	<hr/>

</div>